.featured {
  height: 80vh;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  position: relative;
  ;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .container {
    width: 1400px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    h1 {
      font-size: 50px;

      span {
        font-style: italic;
        font-weight: 300;
      }
    }

    .search {
      background-color: white;
      border-radius: 10px;
      display: flex;
      width: 30dvw;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      .searchInput {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 20px;
          height: 20px;
          margin: 10px;
        }

        input {
          border: none;
          outline: none;

          &::placeholder {
            color: rgb(0, 0, 0);
          }
        }
      }

      button {
        width: 120px;
        height: 50px;
        border: none;
        background-color: #004625;
        color: white;
        align-self: flex-end;
        cursor: pointer;
      }
    }

    .popular {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        width: 120px;
        height: 50px;
        color: white;
        border: 1px solid #004625;
        padding: 10px 10px;
        border-radius: 20px;
        background-color: #004625;
        font-size: 14px;
      }
    }
  }
}