.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;

    input {
        width: 100%;
        max-width: 400px;
        padding: 1rem;
        border: 1px solid #004625;
        border-radius: 5px;
        outline: none;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    button {
        width: 100%;
        max-width: 400px;
        padding: 1rem;
        border: 1px solid #004625;
        border-radius: 5px;
        outline: none;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        background: #004625;
        cursor: pointer;
        color: #fff;
    }

    button:hover {
        background: #007b42;
    }
    

}